.RSWS_testi2_block {color: #666; text-align: left; font-size: 13px; display:block; padding: 8px 0 8px 0; border-bottom: 1px dashed #666!important; margin: 9px 0;}

.RSWS_testi_img { border: 1px solid #000; margin: 0 12px 4px 0;}

.RSWS_left_quote { padding-right:0px; margin-right:5px; }

.RSWS_right_quote { padding-left:0px; margin-left:5px; }

.RSWS_testimonial { font-size:13px; font-weight:normal; text-align:justify; padding-bottom: 10px; }

.RSWS_testmonial_subtext {text-align:right; color: #222; font-size: 10px; font-weight: bold;}
